extends layout

block title
  title SocialGCap - Anuncios

block custom-styles
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container
    - var activo = 'anuncios';
    include navbar
      
    

block custom-scripts