extends layout

block title
  title SocialGCap - Editar perfil

block custom-styles
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container
    include navbar

    header.page-header
      h1 Editar perfil

    ul.nav.nav-tabs
        li
          a(href="/perfil") Perfil
        li.active
          a(href="#") Editar perfil     
        li
          a(href="#") Anuncios publicados

    section.text-center.well
      .row
        form(action='/perfil/editar/' + usuario +'' method="post", enctype="multipart/form-data")
          input(type="file", name="image", accept='image/*',required)
          p.help-block
            | Formatos de imagen permitidos: .png, .jpg, .gif
          p.help-block
            | Peso máximo: 200KB
          input(type="submit" value="Actualizar imagen de perfil").btn.btn-primary

    include footer