extends layout
block custom-styles
    link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container
    .row-fluid
      .col-md-12.text-center
        h1 ¡Lo sentimos! Ocurrió el siguiente error:
        h1= message
        h2= 'Estado del error: ' + error.status
        p.lead Por favor, envía esta información a los administradores:
        pre #{error.stack}
        a(href='/').btn.btn-lg.btn-primary.col-xs-12.col-md-6
          span.glyphicon.glyphicon-home
          |  Volver a SocialGCAP 
        a(href='mailto:zacro.suarez@gmail.com').btn.btn-lg.btn-danger.col-xs-12.col-md-6
          span.glyphicon.glyphicon-envelope
          |  Contactar con un administrador