hr

footer
  .row
    .col-lg-12.text-right
      a(href="#") 
        span.glyphicon.glyphicon-arrow-up 
        |  Volver arriba
        span.glyphicon.glyphicon-arrow-up 

  .row
    .col-md-12.col-lg-12
      .col-md-3
        ul.list-unstyled
          li
            | Secciones
            li
              li
                a(href='/salas') Salas de chat
              li
                a(href='/anuncios') Tablón de anuncios
              li
                a(href='/usuarios') Listado de usuarios
              li
                a(href='/perfil/' + usuario) Perfil de usuario
              li
                a(href='/logout') Cerrar sesión
      .col-md-3
        ul.list-unstyled
          li
            | I.E.S. Gran Capitán
            li
              li
                a(href='http://www.iesgrancapitan.org/portal/' target="_blank") 
                  | Portal del centro
              li
                a(href='http://www.iesgrancapitan.org/departamento/informatica/' target="_blank")
                  | Departamento de Informática
              li
                a(href='http://dawblog.iesgrancapitan.org/' target="_blank")
                  | DAWBlog
              li
                a(href='http://sisblog.iesgrancapitan.org/' target="_blank")
                  | SisBlog
      .col-md-3
        ul.list-unstyled
          li
            | Social
            li
              li
                a(href='https://twitter.com/ies_grancapitan' target="_blank" title="IES Gran Capitán en Twitter") @ies_grancapitan
              li
                a(href='https://twitter.com/daw_gc' target="_blank" title="Ciclo DAW en Twitter") @daw_gc
              li
                a(href='https://twitter.com/SisBlog' target="_blank" title="Ciclo ASIR en Twitter") @SisBlog
      .col-md-3
        ul.list-unstyled
          li
            | Documentación
            li
              li
                a(href='http://nodeymongo.wordpress.com/', target="_blank")
                  | Node.js y MongoDB, blog de desarrollo
              li
                a(href='http://nodeymongo.wordpress.com/category/mongodb-2/', target="_blank")
                  | Aprende MongoDB
              li
                a(href='http://nodeymongo.wordpress.com/category/node-js/', target="_blank")
                  | Aprende Node.js
              li
                a(href='http://nodeymongo.wordpress.com/category/tutoriales/', target="_blank")
                  | Tutoriales de desarrollo
    hr
    .row
      .col-md-12.col-lg-12
        .col-md-6
          a(href='#') Términos de servicio 
          a(href='#') Privacidad 
          a(href='#') Seguridad
        .col-md-6.pull-right
          p.muted.
            ©© 2014 - SocialGCap. Un proyecto conjunto de
            <a href="https://github.com/zacr0" 
            title="Pablo Medina en Github" target="_blank">@zacroDev</a> y 
            <a href="https://github.com/Rubenrod18" 
            title="Rubén Rodríguez en Github" target="_blank">@RubenRod_18</a>.
            Con la tecnología de <a href="http://www.getbootstrap.com" 
            target="_blank">Bootstrap</a>.