hr

footer
  .row
    .col-lg-12
        .col-md-3
          ul.list-unstyled
            li
              | GitHub
              li
                li
                  a(href='#') About us
                li
                  a(href='#') Blog
                li
                  a(href='#') Contact & support
                li
                  a(href='#') Enterprise
                li
                  a(href='#') Site status
        .col-md-3
          ul.list-unstyled
            li
              | Applications
              li
                li
                  a(href='#') Product for Mac
                li
                  a(href='#') Product for Windows
                li
                  a(href='#') Product for Eclipse
                li
                  a(href='#') Product mobile apps
        .col-md-3
          ul.list-unstyled
            li
              | Services
              li
                li
                  a(href='#') Web analytics
                li
                  a(href='#') Presentations
                li
                  a(href='#') Code snippets
                li
                  a(href='#') Job board
        .col-md-3
          ul.list-unstyled
            li
              | Documentation
              li
                li
                  a(href='#') Product Help
                li
                  a(href='#') Developer API
                li
                  a(href='#') Product Markdown
                li
                  a(href='#') Product Pages
    hr
    .row
      .col-lg-12
        .col-md-6
          a(href='#') Terms of Service 
          a(href='#') Privacy 
          a(href='#') Security 
        .col-md-6
          p.muted.pull-right.
            ©© 2014 - SocialGCap. Un proyecto conjunto de
            <a href="https://github.com/zacr0" 
            title="Pablo Medina en Github" target="_blank">@zacroDev</a> y 
            <a href="https://github.com/Rubenrod18" 
            title="Rubén Rodríguez en Github" target="_blank">@RubenRod_18</a>.