doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Red social Gran Capitan')
    meta(name='author', content='Pablo Medina Suarez, Ruben Rodriguez Ramirez')
    title= title
    //-link(rel='stylesheet', href='/stylesheets/style.css')
    // Bootstrap core CSS
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    block custom-styles
    //HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    block content
  
  //Bootstrap core JavaScript
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src='/lib/bootstrap/js/bootstrap.min.js')
  //JavaScript cliente
  script(src='/js/client.js')  
  
  block custom-scripts