extends layout

block title
  title SocialGCap - Login

block content
  .container
    .container
      .row
        .col-md-12
          .col-md-offset-3.col-md-6
            .well
              h1.text-center 
                | Inicia sesión o 
                a(href='/registro') regístrate
              //- Mensaje de error si falla el login
              if error
                .alert.alert-danger.alert-dismissable
                  button(type="button",data-dismiss="alert",aria-hidden="true").close 
                    | &times;
                  strong 
                    | ¡Lo sentimos! 
                  p=error
              if success
                .alert.alert-success.alert-dismissable
                  button(type="button",data-dismiss="alert",aria-hidden="true").close 
                    | &times;
                  strong 
                    | ¡Todo correcto! 
                  | Te has registrado con éxito, ya puedes iniciar sesión.
              form(id='form-login',method='POST',action='/login',accept-charset='UTF-8').form-horizontal
                fieldset 
                  .form-group.has-feedback
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='usuario',name='usuario',placeholder='Usuario', type='text', required)
                  .form-group.has-feedback
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='pass',name='pass',placeholder='Contraseña', type='password', required)
                  hr
                  .form-group
                    .col-md-10.col-md-offset-1
                      button(type='submit').btn.btn-block.btn-success
                        span.glyphicon.glyphicon-ok 

block custom-scripts
  script(src='/js/jquery.validate.min.js')
  script(src='/js/messages_es.js')