nav(role="navigation").navbar.navbar-inverse.navbar-fixed-top
      div.container
        .navbar-header
          button(type="button", data-toggle="collapse", 
            data-target="#navbar-collapse").navbar-toggle
            span.sr-only Mostrar navegación
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href="#").navbar-brand
            strong SocialGCap
        .collapse.navbar-collapse(id="navbar-collapse")
          ul.nav.navbar-nav
            li(class=(activo==='salas' ? 'active' : ''))
              a(href="/salas") Salas
            li(class=(activo==='anuncios' ? 'active' : ''))
              a(href="/anuncios") Anuncios
            li(class=(activo==='usuarios' ? 'active' : ''))
              a(href="/usuarios") Usuarios
          ul.nav.navbar-nav.navbar-right
            li(class=(activo==='perfil' ? 'active' : ''))
              a(href="/perfil/" + usuario, id="perfilusuario") 
                strong Usuario: 
                span#nombreUsuario= usuario
            li
              a(href="/logout").btn.btn-danger Cerrar sesión