extends layout

block title
  title SocialGcap - Registro

block custom-styles
  link(rel='stylesheet', href='/stylesheets/datepicker.css')

block content
  .container
    .container
      .row
        .col-md-12
          .col-md-offset-3.col-md-6
            .well
              h1.text-center 
                | Regístrate o 
                a(href='/login') inicia sesión
              //- Mensaje de error si falla el registro
              if error
                .alert.alert-danger.alert-dismissable
                  button(type="button",data-dismiss="alert",aria-hidden="true").close 
                    | &times;
                  strong 
                    | ¡Lo sentimos! 
                  p=error
              form(id='form-registro',method='POST',action='/registro',accept-charset='UTF-8').form-horizontal
                fieldset.page-header
                  legend Datos de conexión
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='usuario',name='usuario',placeholder='Usuario (obligatorio)', type='text', required)
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='pass',name='pass',placeholder='Contraseña (obligatorio)', type='password', required)
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='confirmpass',name='confirmpass',placeholder='Contraseña (confirmación)', type='password', required)
                  legend Datos personales
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='nombre',name='nombre',placeholder='Nombre (obligatorio)', type='text', required)
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='apellidos',name='apellidos',placeholder='Apellidos (obligatorio)', type='text', required)
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='email',name='email',placeholder='Email (obligatorio)', type='email', required)
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='fechanacimiento',name='fechanacimiento',placeholder='Fecha de nacimiento', type='text')
                  legend Tipo de perfil
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1.text-center
                      label.radio-inline
                        input(type='radio',id='alumno',name='perfil',value='alumno', required)
                        | Soy un alumno
                      label.radio-inline
                        input(type='radio',id='profesor',name='perfil',value='profesor')
                        | Soy un profesor
                  .form-group.visible-alumno
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      //- (Este campo aparece solo si el usuario es un alumno, sera obligatorio)
                      //- (Las opciones de este campo son resultado de una consulta a promociones)
                      select(id='promocion',name='promocion').form-control
                        option(selected='selected') ¿Cuál es tu promoción?
                        option DAW 2012-2014
                        option DAW 2013-2015
                        option ASIR 2012-2014
                        option ASIR 2013-2015
                  .form-group.visible-alumno
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      //- (Este campo aparece solo si el usuario es un alumno, sera obligatorio)
                      //- (Las opciones de este campo son resultado de una consulta a cursos)
                      select(id='curso',name='curso').form-control
                        option(selected='selected') ¿En qué curso estás?
                        option(value='1daw') 1º D.A.W.
                        option(value='2daw') 2º D.A.W.
                        option(value='1asir') 1º A.S.I.R.
                        option(value='2asir') 2º A.S.I.R.
                  .form-group.visible-profesor
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      //- (Este campo aparece solo si el usuario es un profesor, sera obligatorio)
                      //- (Las opciones de este campo son resultado de una consulta a asignaturas)
                      select(id='asignaturas',name='asignaturas').form-control
                        option(selected='selected') ¿Qué asignaturas impartes?
                        option(value='dwec') Desarrollo Web Entorno Cliente
                        option(value='dwes') Desarrollo Web Entorno Servidor
                        option(value='prog') Programación
                        option(value='diw') Diseño de Aplicaciones Web
                  hr
                  .form-group
                    .col-md-10.col-md-offset-1
                      button(type='submit').btn.btn-block.btn-success 
                        span.glyphicon.glyphicon-ok 

block custom-scripts
  script(src='/js/bootstrap-datepicker.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/messages_es.js')