extends layout

block title
  title SocialGCap - Salas de chat

block custom-styles
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container
    - var activo = 'salas';
    include navbar

    header.page-header
      h1 Salas de chat

    include footer