/* Estilos */ 
body {
	padding-top: 30px;
}
.no-resize {
	resize: none;	
}
/* Anuncios */
.anuncio {
	word-wrap: break-word;
}
/* Salas de chat */
#chat,
#lista-salas,
#lista-usuarios {
	overflow: auto;
	overflow-x: hidden;
	word-wrap: break-word;
}
#chat {
	height: 400px;
}
#lista-salas {
	height: 200px;
	margin-bottom: 5px;
	border-bottom: 1px solid black;
}
#lista-usuarios {
	height: 150px;
}
#mensaje {
	width: 100%;
}
.msg,
.msgPropio {
	padding: 10px 10px;
	word-wrap: break-word;
	clear: both;
}
.msg {
	float: left;
}
.msgPropio {
	float: right;
}