/* Estilos */ 
body {
	padding-top: 30px;
}
.no-resize {
	resize: none;	
}
/* Anuncios */
.anuncio {
	word-wrap: break-word;
}
/* Salas de chat */
#chat, #lista-salas {
	overflow: auto;
	overflow-x: hidden;
	word-wrap: break-word;
}
#chat {
	height: 400px;
}
#lista-salas {
	height: 250px;
}
#lista-usuarios {
	height: 150px;
}
.msg,
.msgPropio {
	padding: 10px 10px;
	word-wrap: break-word;
	clear: both;
}
.msg {
	float: left;
}
.msgPropio {
	float: right;
}